body {
	-webkit-font-smoothing: antialiased;
	min-width: 800px;
	background-color: #f7f7f7 !important;
}



/* Hero Header */

.hero {
	position: relative;
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.hero-image {
	width: 100%;
	vertical-align: middle;
  position: absolute;
  top: -100%; left: 0; right: 0; bottom: -100%;
  margin: auto;
  z-index: 0;
}

.hero-overlay {
	width: 100%;
	height: 100%;
  background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.7));
  background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.7));
  background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.7));
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.7));
  position: absolute;
}

.hero-meta-header {
	position: absolute;
	bottom: 20px;
}

.right-border {
	border-right: solid #808080 1px;
	padding-right: 15px;
}

.hero-meta-page {
	float: left;
}

.hero-meta-title {
	vertical-align: middle;
	margin-left: 30px;
	float: left;
	margin-right: 15px;
}

.page-title {
	display: block;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	font-size: 32px;
	line-height: 36px;
	text-align: right;
	font-family: 'Oswald', sans-serif;
}

.page-creator {
	display: block;
	color: #e6e6e6;
	font-size: 12px;
	text-align: right;
	font-family: 'Raleway', sans-serif;
}

.profile-image {
	height: 52px;
	width: 52px;
	overflow: hidden;
	border-radius: 8px;
	border: 2px solid #fff;
}

.profile-image img {
	height: 100%;
}

.hero-meta-count {
	float: left;
	margin-left: 15px;
}

.meta-label {
	text-align: center;
	color: #fff;
	display: block;
	font-weight: 700;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
}

.icon-star img {
	height: 34px;
	float: left;
	margin-right: 5px;
}

.icon-star-2 img {
	height: 12px;
	margin-right: 2px;
}



/* Tabs and Discussions */

.nav-tabs, .nav-tabs a {
	border: none!important;
	border-bottom-width: thin;
	padding: 8px 0 0;
}

.nav-tabs, .nav-tabs a:hover {
	background: none!important;
	color: #337ab7;
}

.nav-tabs a {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #808080;
	padding: 10px 0 !important;
	margin-right: 50px !important;
}

.nav-tabs .active a {
	font-weight: 700;
	color: #000!important;
	border-bottom: solid gold 4px!important;
	background-color: #f7f7f7 !important;
}

.tab-content {
	padding: 20px 0;
}

.main-content {
	font-family: 'Raleway', sans-serif;
	border-top: solid #bfbfbf 1px;
	padding: 15px 15px 0 0 !important;
}

.col-md-12, .col-md-6, .col-xs-6, .col-md-4 {
	padding: 0 15px 12px 0 !important;
}

.gray-border {
  border: 1px solid #bfbfbf;
  overflow: hidden;
}

.media-large {
	height: 400px;
	width: auto;
}

.media-medium-featured {
	height: 350px;
	width: auto;
}

.media-medium {
	height: 200px;
	width: auto;
}

.media-small {
	height: 150px;
	width: auto;
}

.media-thumb {
	height: 60px;
	width: auto;
}

.media-large, .media-medium, .media-small, .media-medium-featured, .media-thumb {
	background-size: cover !important;
}

.discussions-header {
	padding: 20px 25px;
	margin: 20px 0 0;
	color: #808080;
	background-color: #f2f2f2;
}

.discussions-body {
	border-top: none !important;
	background-color: #f2f2f2;
	padding: 20px 8px !important;
}

.discussions-post .media-thumb {
	border: solid 1px #fff;
}

.discussions-post .post-text {
	padding: 0px 8px !important;
}

.discussions-post .post-title {
	text-transform: uppercase;
	font-weight: 700;
}

.discussions-post .post-meta {
	color: #808080;
	font-size: 10px;
	margin-bottom: 5px;
}

.discussions-post .post-meta a {
	color: #808080;
	font-weight: 700;
}

.discussions-post .post-meta a:hover {
	color: #337ab7;
	text-decoration: none;
}

.discussions-post .post-body {
	font-size: 12px;
	margin-bottom: 5px;
}

.discussions-post .post-link {
	font-size: 10px;
	margin-bottom: 15px;
}

.discussions-post .post-link a {
	color: #808080;
}

.discussions-post .post-link a:hover {
	color: #337ab7;
	text-decoration: none;
}

.discussions-link p {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 0px;
}

.discussions-link a {
	color: #808080;
}

.discussions-link a:hover {
	color: #337ab7;
	text-decoration: none;
}


/* Featured Creators */

.featured-creators {
	padding: 25px 45px 0 !important;
}

.featured-creators-title {
	text-align: center;
	font-size: 28px;
	color: #4d4d4d;
	font-weight: 200;
}

.featured-creators-list {
	padding: 35px 0 0;
}

.creator-container {
	padding-bottom: 25px;
}

.creator-image {
	height: 150px;
	width: 150px;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #fff;
	background-size: cover !important;
	margin: 0 auto;
	margin-bottom: 5px;
}

.creator-text {
	text-align: center;
}

.creator-name {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.creator-meta {
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #808080;
}

.creator-meta span {
	padding: 0 3px;
}

.creator-meta .double-border {
	border-left: solid #bfbfbf 1px;
	border-right: solid #bfbfbf 1px;
}

.creator-link {
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 0px;
}

.creator-link a {
	color: #333333;
	font-weight: 500;
}

.creator-link a:hover {
	color: #337ab7;
	text-decoration: none;
}


/* Recent Posts */

.recent-posts {
	padding: 25px 15px 25px 30px !important;
}

.recent-posts-title {
	text-align: center;
	font-size: 28px;
	color: #4d4d4d;
	font-weight: 200;
}

.recent-posts-list {
	padding: 35px 0 !important;
}


/* Media Queries */

@media screen and (max-width: 991px) {
	.discussions {
		padding: 0 44px 0 30px !important;
	}
	.media-thumb {
		height: 150px;
		width: auto;
		margin-bottom: 10px;
	}
}

